{% extends "base.html" %}

{% block title %}Review List{% endblock %}

{% block content %}
    <h1>Review List</h1>
        {% if review_list %}
            <table class="table table-striped table-hover">
{#                <thead>#}
{#                    <tr>#}
{#                        <th>Review Name</th>#}
{#                        <th></th>#}
{#                    </tr>#}
{#                </thead>#}
                <tbody>
                {% for review in review_list %}
                    <tr>
                        <td>
                            <p>{{ review.text }}</p>
                            <p>Created at: {{ review.created_at }}</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No data
        {% endif %}

{% endblock %}